[submodule "ipython"]
	path = pyemma-ipython
	url = https://github.com/markovmodel/PyEMMA_IPython.git

[submodule "pyemma/_ext/jsonpickle"]
	path = pyemma/_ext/jsonpickle
	url = https://github.com/markovmodel/jsonpickle
[submodule "jsonpickle"]
	path = pyemma/_ext/jsonpickle
	url = https://github.com/markovmodel/jsonpickle
