[submodule "ipython"]
	path = doc/pyemma-ipython
	url = https://github.com/markovmodel/PyEMMA_IPython.git

[submodule "doc/tutorials"]
	path = doc/tutorials
	url = https://github.com/markovmodel/pyemma_tutorials

