language: c 

sudo: false

env:
  global:
    - PATH=$HOME/miniconda/bin:$HOME/miniconda/envs/ci/bin/:$PATH
     # note: mdtraj and coveralls are provided by omnia binstar repo
    - common_py_deps="pip pylint nose python-coveralls cython mdtraj-dev=1.5.0.dev0 matplotlib numpy scipy"
    - doc_deps="ipython ipython-notebook sphinx==1.2.3 matplotlib"
    - deps="scipy numpy"
  secure: "byk9bmnGvP3qDfpYvPKX4909KeS6pJQtfW+GkSsuHy4vnp++gu2IsXC/CJeCB0r7hpoRp7Z+XlOtYmJLvb585LZmGaqIs5LKs1DimJniAg5anpywOnaXodspeFcz6UWtLlIAQQS3SvP9SXvvrlIiF8IwXqWfEewtoGbpiCj3dEo="
  matrix:
    - python=2.7  CONDA_PY=27  CONDA_NPY=17
    - python=3.3  CONDA_PY=33  CONDA_NPY=18
    - python=3.4  CONDA_PY=34  CONDA_NPY=18
    - python=3.4  CONDA_PY=34  CONDA_NPY=19

before_install:
# before we invoke setup.py, install $common_deps with conda and let the rest
# (currently only pystallone) be resolved by setuptools.
- tools/ci/travis/install_miniconda.sh
- source activate ci
- conda list
# use a headless plotting backend for matplotlib
- mkdir -p ~/.config/matplotlib/
- touch ~/.config/matplotlib/matplotlibrc
- "echo 'backend: Agg' >> ~/.config/matplotlib/matplotlibrc"

# always test against msmtools@devel
- pip install git+https://github.com/markovmodel/msmtools@devel 

# install bhmm from git, as recent pyemma development uses not yet released features of bhmm
- pip install git+https://github.com/bhmm/bhmm@master

install:
- python setup.py develop 

script:
# run tests
- nosetests --with-coverage --cover-inclusive --cover-package=pyemma --with-doctest --doctest-options="+NORMALIZE_WHITESPACE,+ELLIPSIS"
# run pylint (non fatal exit and show only errors)
- pylint -j 4 --rcfile=.pylintrc pyemma || true

after_success:
- coveralls
#- tools/ci/travis/make_docs.sh

deploy:
  edge: true # testing bleeding edge git deployment code
  provider: pypi
  distributions: "sdist"
  skip_cleanup: true
# docs_dir is ignored by travis (despite the issue filed against this feature, maybe its not yet active?
#  docs_dir: doc/build/html
# TODO: security tokens are encrypted on repository base (reencrypt when moving repo to cmb organisation) 
  user:
    secure: "Z6h333HK9R9b4vwYzk5N54IeMJ8vmd4V+vXRTLNnOCCqVkWcocWY9HBX2s9jk3TkSJbg9eL/EVzCv7HVGY1A80czNN160Vj3z5J51WEfHk4hhC7GDSXEU1CGRdp3j+79/WeaioOstq3y4Mxy6v1Afn3k7gAY7ui+yYbSEbRIG0A="
  password:
    secure: "F3I26Mx0vbiIrSf/MsE8OGNV4xr82Wx4AWItHcXEq+pwBreNyCg/KVQInJ90lSh2RmvGAMmzw6rQ4EFaHYrFuAekilM/4tkRBGF/pSrEG7KSL2ysyoJIqTRncJCs1USyNYWodmXjRTQjLyJKoZufpNZ4u6Da1pVQDZqbsL0LtZo="
  on:
    python: 2.7 # only upload docs and sdist for py27
    tags: true
    # TODO: should only deploy for tagged master release as soon as stable
    # temporary workaround for travis issue #1675
    all_branches: true

