environment:
  myuser:
    secure: BNlXevLtF9e2aPA67RkRlg==
  mypass:
    secure: UVcVBPUuJmH6Dargd2JZHitYoqNavVuBWWeJ8fvarLfSahvVhAAlXsnO2roo/75L
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\tools\\ci\\appveyor\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python27_32"
      PYTHON_VERSION: "2.7.8"
      CONDA_PY: "27"
      PYTHON_ARCH: "32"
    
    - PYTHON: "C:\\Python27_64"
      PYTHON_VERSION: "2.7.8"
      CONDA_PY: "27" 
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python34_32"
      PYTHON_VERSION: "3.4.1"
      COMDA_PY: "34"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python34_64"
      PYTHON_VERSION: "3.4.1"
      COMDA_PY: "34"
      PYTHON_ARCH: "64"

install:
  - "powershell ./tools/ci/appveyor/install.ps1"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%;"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - conda config --set always_yes true 
  - conda config --add channels http://conda.binstar.org/omnia 
  - conda install python-coveralls conda-build jinja2

  # use agg backend in matplotlib to avoid gui popup, which can not be closed.
  - echo %userprofile%
  - mkdir %userprofile%\\.matplotlib
  - "echo backend: agg > %userprofile%\\.matplotlib\\matplotlibrc"
  # install dependencies
#  - conda install -q --yes -c https://conda.binstar.org/omnia scipy numpy nose cython mdtraj matplotlib 
  # temporarily install bhmm from git, as recent pyemma development uses not yet released features of bhmm
#  - pip install git+https://github.com/markovmodel/msmtools@devel
#  - pip install git+https://github.com/bhmm/bhmm@master
  # Build the compiled extension and run the project tests
#  - "%CMD_IN_ENV% python setup.py develop"

build: false # Not a C# project, build stuff at the test step instead.

test_script:
  # run testsuite and upload test results to AppVeyor; return exit code of testsuite
  #- "powershell ./tools/ci/appveyor/runTestsuite.ps1"
  - conda build tools/conda-recipe

