include README.rst
include LICENSE.txt

# include test modules
recursive-include pyemma */test?/*
# versioneer
include versioneer.py
include pyemma/_version.py
# setup stuff
include setup_util.py
# documentation
graft doc
prune doc/build
prune doc/source/generated
# ipython notebooks
graft ipython
#prune */*/.ipynb_checkpoints # dnw
#global exclude __pycache__ # dnw
# headers
include pyemma/msm/estimation/dense/*.h
include pyemma/msm/estimation/sparse/*.h

