include LICENSE.rst

# include test modules
recursive-include emma2 */test?/*
# versioneer
include versioneer.py
include emma2/_version.py
# setup stuff
include setup_util.py
# documentation
graft doc
prune doc/build
prune doc/source/generated
# ipython notebooks
graft ipython
#prune */*/.ipynb_checkpoints # dnw
#global exclude __pycache__ # dnw
# headers
include emma2/msm/estimation/dense/*.h
include emma2/msm/estimation/sparse/*.h

