[Logging]
enabled = True
toconsole = True
tofile = False
file = pyemma.log
level = INFO
format = %%(asctime)s %%(name)-12s %%(levelname)-8s %%(message)s


[Java]
# Optional classpath extension, empty by default.
# To define multiple classpathes, one should separate them with os specific path sep:
# ':' for Linux
# ';' for Windows
classpath = 
initHeap = 32m
# on 32 bit JVM default is 1280m, on 64 bit its 2000m
maxHeap = 
optionalArgs = 

