################################################################################
# PyEMMA configuration file
#
# notes:
# - comments are not allowed in line, since they would be appended to the value!
################################################################################

[Logging]
enabled = True
toconsole = True
tofile = False
file = pyemma.log
level = INFO
format = %%(asctime)s %%(name)-12s %%(levelname)-8s %%(message)s


[Java]
# should start the virtual machine on import?
startup = False
# Optional classpath extension, empty by default.
# To define multiple classpathes, one should separate them with os specific path sep:
# ':' for Linux
# ';' for Windows
classpath = 
initHeap = 32m
# on 32 bit JVM default is 1280m, on 64 bit its 2000m
maxHeap = 
optionalArgs = 

